.btn-primary {
    background-color: #e051cf;
    border-color: #e051cf;
}
.btn-primary:hover{
    background-color: #e883dc;
    border-color:#e883dc;
}

.navbar {
    padding: 1rem;
  }

.footer{
    background-color: #50fa7b;
}

.hero-background-img {
    background-image: url("images/014-voodoo-doll.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .hero-background-img {
    position: relative;
    background: rgba(0, 0, 0, 0.3); /* If our image is bright, we can tone it down with this darker overlay */
    padding-top:200px;  
    padding-bottom:200px;
  }
  
  .hero-background-img:after {
    content: "";
    position: absolute;
    background-image: url("images/014-voodoo-doll.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.7; /* Tone the image down further by giving it transparency */
  }

img{
    background-size: 200px;
}
  